<header class="text-white p-2 flex justify-between items-center border-b border-borderColor fixed top-0 left-0 w-full bg-darkBackground z-10">
  <div class="flex items-center ml-8">
    <%= link_to root_path do %>
      <div class="inline-flex items-end space-x-2">
        <%= image_tag 'logo-horizontal-light.svg', alt: 'ロゴ', class: 'w-10 h-auto' %>
        <span class="text-xl lg:text-2xl font-semibold leading-none mb-0.5">SmokeShift</span>
      </div>
    <% end %>
  </div>
  <div class="flex items-center mr-4 space-x-4">
    <% if current_user.smoker? %>
      <label for="quit-smoking-modal" class="btn btn-primary w-28">禁煙する</label>
    <% end %>
    <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: 'btn btn-success w-28' %>
  </div>
</header>

<!-- 禁煙開始モーダル -->
<input type="checkbox" id="quit-smoking-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box bg-gradient-to-br from-customForm to-cardBackground text-labelColor">
    <h3 class="font-light text-2xl mb-6">禁煙を始めますか？</h3>
    <p class="mb-6">禁煙を開始すると、あなたの健康と財布にとってプラスになります。今すぐ始めましょう！</p>
    <%= form_with(url: non_smoker_quit_smoking_records_path, local: true, method: :post) do |f| %>
      <div class="mt-6 flex justify-end space-x-3">
        <label for="quit-smoking-modal" class="btn btn-ghost">キャンセル</label>
        <%= f.submit '禁煙を開始', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>