<div class="pt-16 flex flex-col items-center justify-center">
  <div class="w-full max-w-2xl mx-auto pt-20">
    <h1 class="text-2xl font-bold text-white mb-10 text-left">ログイン</h1>
    <%= form_with model: @user, local: true do |form| %>
      <div class="mb-8">
        <%= form.label :email, "メールアドレス", class: 'block text-sm font-medium text-labelColor mb-2' %>
        <%= form.email_field :email, required: true, class: "w-full h-10 text-white border border-borderColor2 rounded-lg bg-customForm px-2 py-2", placeholder: "メールアドレスを入力" %>
      </div>
      <div class="mb-12">
        <%= form.label :password, "パスワード", class: 'block text-sm font-medium text-labelColor mb-2' %>
        <%= form.password_field :password, required: true, class: "w-full h-10 text-white border border-borderColor2 rounded-lg bg-customForm px-2 py-2", placeholder: "パスワードを入力" %>
      </div>
      <div class="flex justify-center">
        <%= form.submit "ログインする", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>