<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>

    <body class="bg-darkBackground min-h-screen flex flex-col">
    <!-- ヘッダー -->
    <% if current_user %>
      <%= render 'shared/before_login_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>

    <div class="flex flex-grow">
      <!-- サイドバー -->
      <div class="w-40 fixed top-16 left-0 h-full">
        <% if current_user&.non_smoker? %>
          <%= render 'shared/non_smoker_sidebar' %>
        <% else %>
          <%= render 'shared/smoker_sidebar' %>
        <% end %>
      </div>
      <!-- メインコンテンツ -->
      <div class="flex-grow p-8">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>